<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%></h1>
    <p><a href="about">About <%=forumName%></a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="listPost.ejs">List of posts</a></p>
    <p><a href="listTopic.ejs">List of topics</a></p>
    <p><a href="listUser.ejs">List of users</a></p>
    <p><a href="addpost.ejs">Add post</a></p>
    <p><a href="search.ejs">Search post by user</a></p>
    <p><a href="search-topic.ejs">Search topic by user</a></p>
  </body>
</html>
